.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.buttonContainer a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: #F5DF4D solid 2px;
  font-size: 1rem;
}

a:hover, a:focus {
  background-color: #F5DF4D;
  color: #646464;
}

.previous,.next {
  background-color: #ffffff;
  color: #646464;
}

