@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

button {
    background-color: #FFFFFF;    
    padding:3px 50px;
    border-radius: 30px;
    color: #646464;
    border: #F5DF4D solid 2px; 
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 25px;
}

button:focus {
    background-color: #F5DF4D;    
    color: #FFFFFF;
}
button:hover {
    background-color: #F5DF4D;    
    color: #FFFFFF;
}