<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./product_card.css">
    <title>Product Card</title>
</head>
<body>
    <div class="product-card-container">
        <div class="card-pic-area">
            <img class="card-pic" src="./images/catpic.png" alt="">
            <div class="overlay"></div>
            <div class="hoverBtn"><a  href="#">加入購物車</a></div>
        </div>
        <div class="title">Vetreska 未卡 | 桃子貓抓盒</div>
        <div class="price">NT$ 450</div>
    </div>
</body>
</html>